body{

  }

  ul{
  list-style-type: none;
}
.list-group{
  margin: 20px;
}
.list-group-item{
  padding: 15px;
  text-decoration: none;
  text-align:center;
  width:100%;
  cursor: pointer;
  display: inline-block;
}
